.index {
	text-align: center;
	margin: 0;
	padding-top: 20px;
}

.index .logo {
	background-image: url('../images/logo.svg');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center center;
	width: 200px;
	height: 200px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 100px;
	box-shadow: 0 0 50px #000;
}

.index .links p span {
	color: #000;
}

.index .links {
	display: flex;
	width: 750px;
	margin-left: auto;
	margin-right: auto;
}

.index .links > div {
	flex-grow: 1;
	flex-shrink: 1;
	width: 33%;
	border-radius: 5px;
	background-color: #fff;
	padding-bottom: 30px;
	padding-left: 10px;
	padding-right: 10px;
	border: 1px solid #5616b5;
	box-shadow: 0 0 20px rgba(111, 29, 234, 0.3) inset;
}

.index .links > div a {
	color: #000;
	text-decoration: none;
	cursor: pointer;
	display: block;
}

.index .links > div a:hover span {
	text-decoration: underline;
}

.index .links > div h2 {
	font-size: 18px;
	color: #000;
}

@media screen and (min-height: 1080px) and (min-width: 850px) {
	body.index .logo {
		width: 800px;
		height: 800px;
		border-radius: 400px;
	}
}

@media screen and (min-height: 870px) and (max-height: 1080px) and (min-width: 750px) {
	body.index .logo {
		width: 600px;
		height: 600px;
		border-radius: 300px;
	}
}

@media screen and (min-height: 680px) and (max-height: 870px) and (min-width: 751px) {
	body.index .logo {
		width: 400px;
		height: 400px;
		border-radius: 200px;
	}
}

@media screen and (min-height: 600px) and (max-height: 680px) and (min-width: 751px) {
	body.index .logo {
		width: 300px;
		height: 300px;
		border-radius: 150px;
	}
}

@media screen and (min-width: 450px) {
	body.index .links > div {
		margin-left: 12px;
		margin-right: 12px;
	}
}

@media screen and (min-width: 600px) and (max-width: 750px) {
	body.index .links {
		display: block;
		width: 100%;
	}

	body.index .links > div {
		display: inline-block;
		height: 90px;
		width: 37vw;
	}

	body.index .links > div h2 {
		font-size: 16px;
	}

	body.index .links > div:last-of-type {
		margin-top: 20px;
	}
}

@media screen and (min-width: 451px) and (max-width: 600px) {
	body.index .links {
		display: block;
		width: 100%;
	}

	body.index .links > div {
		display: inline-block;
		height: 70px;
		width: 37vw;
		margin-left: 5px;
		margin-right: 5px;
	}

	body.index .links > div a {
		font-size: 12px;
	}

	body.index .links > div h2 {
		margin-bottom: 25px;
		font-size: 16px;
		font-size: 2.4vw;
	}

	body.index .links > div:last-of-type {
		margin-top: 20px;
	}
}

@media screen and (max-width: 450px) {
	body.index .links {
		display: block;
		width: auto;
	}

	body.index .links > div {
		width: auto;
		margin-bottom: 20px;
	}

	body.index .links > div h2 {
		padding-top: 6px;
	}
}

@media screen and (max-width: 450px) and (max-height: 710px) {
	body.index {
		padding-top: 15px;
	}

	body.index .logo {
		width: 100px;
		height: 100px;
		border-radius: 50px;
		box-shadow: 0 0 25px #000;
	}

	body.index > h1 {
		margin-top: 16px;
		margin-bottom: 8px;
	}

	body.index > p {
		margin-top: 10px;
	}

	html body.index .links > div {
		margin-bottom: 12px;
		height: 53px;
	}

	body.index .links > div h2 {
		padding-top: 2px;
	}
}