.index {
	text-align: center;
}

.index .links {
	display: flex;
	width: 750px;
	margin-left: auto;
	margin-right: auto;
}

.index .links > div {
	flex-grow: 1;
	flex-shrink: 1;
	width: 33%;
	border-radius: 5px;
	background-color: #fff;
	padding-bottom: 30px;
	padding-left: 10px;
	padding-right: 10px;
	border: 1px solid #5616b5;
	box-shadow: 0 0 20px rgba(111, 29, 234, 0.3) inset;
}

.index .links > div a {
	color: #000;
	text-decoration: none;
	cursor: pointer;
	display: block;
}

.index .links > div a:hover span {
	text-decoration: underline;
}

.index .links > div h2 {
	font-size: 18px;
	color: #000;
}

@media screen and (min-width: 450px) {
	body.index .links > div {
		margin-left: 12px;
		margin-right: 12px;
	}
}

@media screen and (min-width: 600px) and (max-width: 750px) {
	body.index .links {
		display: block;
		width: 100%;
	}

	body.index .links > div {
		display: inline-block;
		height: 80px;
		width: 37vw;
	}

	body.index .links > div:last-of-type {
		margin-top: 20px;
	}
}

@media screen and (min-width: 450px) and (max-width: 600px) {
	body.index .links {
		width: 100%;
	}

	body.index .links > div a {
		font-size: 12px;
	}

	body.index .links > div h2 {
		font-size: 16px;
		font-size: 2.0vw;
	}
}

@media screen and (max-width: 450px) {
	body.index .links {
		display: block;
		width: auto;
	}

	body.index .links > div {
		width: auto;
		margin-bottom: 20px;
	}
	
	body.index .links > div h2 {
		padding-top: 10px;
	}
}
