.install .content {
	margin-left: auto;
	margin-right: auto;
	max-width: 400px;
}

.install .content a {
	color: #fef;
}

.install .content a:hover {
	color: #fff;	
}

@media screen and (max-width: 410px) {
	.install .content h1 {
		font-size: 7vw;
	}

	.install .content h2 {
		font-size: 5.5vw;
	}
}