@import url('fontawesome/css/fontawesome-all.min.css');
@import url('index.css');
@import url('signin.css');
@import url('signin_signup.css');
@import url('signup.css');
@import url('test_directions.css');
@import url('test2.css');
@import url('welcome.css');

html {
	background-color: #6f1dea;
	height: 100%;
}

body {
	font-family: arial;
	color: #fff;
	background-color: #6f1dea;
    box-sizing: border-box;
	min-height: 100%;
	height: 100%;
}

h1 {
	font-size: 30px;
}

.equally-spaced {
	display: flex;
}

.equally-spaced > div {
	flex-grow: 1;
    flex-basis: 0;
}

.curved-button {
	display: inline-block;
	padding: 15px 30px;
	color: #fff;
	text-decoration: none;
	border-color: #fff;
	border-width: 1px;
	border-style: solid;
	border-radius: 35px;
}

.curved-button:hover {
	text-decoration: underline;
}

form .form-inputs {
	text-align: left;
	background-color: #fff;
	color: #3b023c;
	border-radius: 3px;
	padding: 5px 15px 15px 15px;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

.main-navigation-button {
	background-color: #e5c749;
	color: #252626;
	text-transform: uppercase;
	font-weight: 800;
	display: block;
	border-width: 0;
	width: 100%;
	margin-top: 20px;
	height: 3em;
	border-radius: 3px;
	cursor: pointer;
	transition: background-color 0.2s, box-shadow 0.2s, color 0.2s;
}

.main-navigation-button:hover {
	background-color: #fff;
	color: #000;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

html > body .form-inputs .invalid input, 
html > body .form-inputs .invalid select {
	border: 1px solid #800 !important;
	box-shadow: 0 0 5px #f00 inset !important;
}