.test2 {
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #000;
	transition: background-color 0.2s;
}

.test2 svg {
	height: 100vh;
	box-sizing: border-box;
}

.test2 .touch-point-marker {
	background-image: url('../images/touch-point-marker.svg');
	background-size: 100% 100%;
	background-repeat: no-repeat;
	width: 40vmin;
	height: 40vmin;
	margin-top: -20vmin;
	margin-left: -20vmin;
	position: absolute;
	opacity: 1;
    animation: spin 5s linear infinite;
	transition: opacity 0.2s;
}

.test2 .touch-point-marker.hidden {
	opacity: 0;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.test2 svg rect, .test2 svg circle {
	stroke-width: 2px;
	stroke: #f00;
}

.test2 .game-over {
	display: none;
}

.test2.game-over {
	background-color: #503c66;
}

.test2.game-over svg {
	display: none;
}

.test2.game-over .game-over {
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-width: 400px;
}

.test2.game-over #number-of-shapes {
	width: 100%;
	font-size: 2em;
}

.test2.game-over .game-over h1 {
	margin-top: 0;
	padding-top: 20px;
	text-align: center;
}

.test2.game-over .game-over p {
	text-align: center;
}

.test2 .main-navigation-button[disabled] {
	background-color: #ddd;
}


/** 
 * iPad with portrait orientation.
 */
@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:portrait){
  svg {
    height: 1024px;
  }
}

/** 
 * iPad with landscape orientation.
 */
@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:landscape){
  svg {
    height: 768px;
  }
}

/**
 * iPhone 5
 * You can also target devices with aspect ratio.
 */
@media screen and (device-aspect-ratio: 40/71) {
  svg {
    height: 500px;
  }
}