.test2 {
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #000;
}

.test2 svg {
	width: 100%;
	height: 100vh;
	box-sizing: border-box;
}

.test2 svg rect, .test2 svg circle {
	stroke-width: 2px;
	stroke: #f00;
}
