body.welcome {
	text-align: center;
	margin: 0;
	padding-top: 25px;
	padding-top: 3.67vh;
}

.welcome h1 {
	margin-top: 0;
}

.welcome p {
	margin-top: 25px;
	margin-top: 4.54vh;
	margin-bottom: 25px;
	margin-bottom: 4.54vh;
	line-height: 20px;
	margin-left: 7px;
	margin-right: 7px;
}

.welcome form {
	width: 300px;
	margin-left: auto;
	margin-right: auto;
}

.welcome form .form-inputs .genders input,
.welcome form .form-inputs input#agree {
	margin-left: 0;
}

.welcome form .form-inputs select,
.welcome form .form-inputs #date-of-birth {
	display: block;
	width: 100%;
	box-sizing: border-box;
	height: 2.8em;
	border-width: 1px;
	border-color: #ddd;
	padding-left: 7px;
	outline: none;
	-webkit-appearance: none;
	box-shadow: none;
	border-radius: 2px;
}

/* Hide arrows in Chrome.
Adapted from:
https://stackoverflow.com/questions/3790935/can-i-hide-the-html5-number-input-s-spin-box

The arrows are hidden because they don't match the input's height.
*/
.welcome form .form-inputs #date-of-birth::-webkit-outer-spin-button,
.welcome form .form-inputs #date-of-birth::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.welcome form .form-inputs label {
	font-weight: bold;
	font-size: 0.9em;
	display: block;
}

.welcome form .form-inputs label,
.welcome form .form-inputs .agree {
	margin-top: 13px;
	margin-bottom: 5px;
}

.welcome form .form-inputs label[for="agree"],
.welcome form .form-inputs .genders .equally-spaced label {
	display: inline;
	cursor: pointer;
}

.welcome form .form-inputs .genders .equally-spaced label {
	font-weight: normal;
}

@media screen and (max-height: 540px) {
	body.welcome {
		padding-top: 0;
	}

	body.welcome h1 {
		margin-bottom: 8px;
	}

	body.welcome p {
		margin-top: 5px;
		margin-bottom: 7px;
		line-height: 15px;
	}
}

@media screen and (min-height: 540px) and (max-height: 560px) {
	body.welcome {
		padding-top: 20px;
		padding-bottom: 20px;
	}

	body.welcome p {
		margin-top: 15px;
		margin-bottom: 15px;
	}
}

@media screen and (max-width: 340px) {
	body.welcome form {
		width: 95%;
	}
	
	body.welcome form .form-inputs {
		font-size: 0.85em;
	}
}